@import "vue-form-wizard";
@import "components/tooltip";


@font-face {
  font-family: "icon-Nissan-Global";
  src: url("../fonts/Nissan-Global.woff") format("woff"),
  url("../fonts/Nissan-Global.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nissan";
  src: url("../fonts/NissanBrand-Regular.woff") format("woff"),
  url("../fonts/NissanBrand-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nissan";
  src: url("../fonts/NissanBrand-Light.woff") format("woff"),
  url("../fonts/NissanBrand-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nissan";
  src: url("../fonts/NissanBrand-Bold.woff") format("woff"),
  url("../fonts/NissanBrand-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nissan', Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.36;
  color: #000;
}

button {
  font-family: 'Nissan', Verdana, Arial, sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

.ni{
  &-fieldset {
    position: relative;
    border: 1px solid #000;
    height: 44px;
    padding: 0;
    margin: 13px 0 20px;
    .error{
      font-size: 10px;
      text-transform: lowercase;
      padding-left: 10px;
      color:#C3002F;
      display: none;
    }
    &.fieldset--error{
      border-color: #C3002F;
      .error{
        display: block;
      }
    }
    &.ni-fieldset-textarea{
      height: 200px;
    }
    .v-select{
      height: 42px;
    }
  }
  &-legend {
    position: absolute;
    left: 8px;
    top: -14px;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 8px;
    background: #fff;
    line-height: 22px;
    z-index: 1;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

  }
  &-input{
    height: 100%;
    width: 100%;
    border: none;
    padding: 0 16px;
  }
  &-textarea{
    width: 100%;
    border: none;
    height: 100%;
    resize:none;
    padding: 12px 13px;
  }
}
.vdp-datepicker-icon {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  fill: #C3002F;
}

.ni-button {
  text-transform: uppercase;
  color: #fff;
  height: 44px;
  background-color: #C3002F;
  padding: 0 16px;
  border: none;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &-icon {
    transform-origin: center;
    transform: rotate(-90deg);
    fill: #fff;
    transition: .3s;
  }

  &:hover {
    background-color: #920023;

    .ni-button-icon {
      transform: translateX(5px) rotate(-90deg);

    }
  }
}

.tooltip {
  border: none;
  border-radius: 50%;
  background-color: #EFEFEF;
  display: block;
  text-align: center;
}

.el-radio {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  display: flex;
  align-items: center;

  &__inner {
    border: 1px solid #dcdfe6;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;

    &:after {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #920023;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform .15s ease-in;
    }
  }

  &__original {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  &__input {
    margin-right: 12px;
    display: flex;

    &.is-checked .el-radio__inner:after {
      transform: translate(-50%, -50%) scale(1);
    }

    @media screen and (min-width: 768px) {
      margin-right: 20px;
    }
  }

  &__label {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
  }
}

.el-checkbox {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  white-space: nowrap;
  user-select: none;

  &:hover {
    .el-checkbox__label {
      text-decoration: none;
    }

    .el-checkbox__inner {
      border-color: #c3002f;
    }
  }

  &__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    &.is-checked {
      .el-checkbox__inner {
        border-color: #c3002f;
        background-color: #c3002f;

        &:after {
          transform: rotate(45deg) scaleY(1);
        }
      }
    }
  }

  &__inner {
    display: inline-block;
    position: relative;
    border: 1px solid #b6b6b6;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: #fff;
    z-index: 1;
    transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);

    &:after {
      box-sizing: content-box;
      content: "";
      border: 2px solid #fff;
      border-left: 0;
      border-top: 0;
      height: 10px;
      left: 6px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg) scaleY(0);
      width: 4px;
      transition: transform .15s ease-in .05s;
      transform-origin: center;
    }
  }

  &__original {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }

  &__label {
    display: inline-block;
    padding-left: 10px;
    line-height: 19px;
    font-size: 14px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
.current-model{
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 9px;
  @media (min-width: 768px) {
    margin-top: 39px;
    margin-left: 0;
    padding: 0;
    margin-right: 0;
    border: none;
    margin-bottom: 51px;
  }
}

.wizard-tab-content .inspection-wrap {
  padding-top: 11px;
  @media (min-width: 768px) {
    border: 1px solid #EFEFEF;
    margin-bottom: 32px;
  }
  .dealer {
    border: none;
    padding: 0;
  }

  .dealer-name {
    font-size: 20px;
    line-height: 26px;
    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .dealer-top {
    margin-bottom: 4px;
    @media (min-width: 768px) {
      padding: 19px 0 0 24px;
    }

    svg {
      transform: translate(0px, -7px);
      width: 68px;
      margin-left: -10px;
      margin-right: 5px;
      @media (min-width: 768px) {
        transform: translate(-2px, 0px);
        margin-top: -16px;
        margin-right: 8px;
      }
    }
  }

  .dealer-title {
    font-size: 14px;
    line-height: 18px;
    @media (min-width: 768px) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  .address {
    margin-bottom: 25px;
  }

  .address-txt {
    font-size: 14px;
    line-height: 21px;
    @media (min-width: 768px) {
      font-size: 12px;
      line-height: 17px;
    }
  }

  .hours {
    margin-bottom: 25px;
    @media (min-width: 768px) {
      margin-bottom: 16px;
    }
  }

  .hours-txt {
    font-size: 14px;
    line-height: 21px;
    @media (min-width: 768px) {
      font-size: 12px;
      line-height: 17px;
    }
  }

  .description {
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 29px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #EFEFEF;
    @media (min-width: 768px) {
      padding-left: 22px;
      margin-left: 0;
      margin-right: 0;
      padding-right: 22px;
      padding-bottom: 0;
    }

    .price-value {
      line-height: 34px;
    }

    .price {
      @media (min-width: 768px) {
        margin-bottom: 16px;
      }
    }
  }
}



