@import "vue-form-wizard";
@import "components/tooltip";


@font-face {
  font-family: "icon-Nissan-Global";
  src: url("../fonts/Nissan-Global.woff") format("woff"),
  url("../fonts/Nissan-Global.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nissan";
  src: url("../fonts/NissanBrand-Regular.woff") format("woff"),
  url("../fonts/NissanBrand-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nissan";
  src: url("../fonts/NissanBrand-Light.woff") format("woff"),
  url("../fonts/NissanBrand-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nissan";
  src: url("../fonts/NissanBrand-Bold.woff") format("woff"),
  url("../fonts/NissanBrand-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nissan', Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.36;
  color: #000;
}

button {
  font-family: 'Nissan', Verdana, Arial, sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}


.ni-button {
  text-transform: uppercase;
  color: #fff;
  height: 44px;
  background-color: #C3002F;
  padding: 0 16px;
  border: none;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  &-icon {
    transform-origin: center;
    transform: rotate(-90deg);
    fill: #fff;
    transition: .3s;
  }
  &:hover{
    background-color: #920023;
    .ni-button-icon{
      transform: translateX(5px) rotate(-90deg);

    }
  }
}

