.vdp-datepicker {
  height: 42px;
}
.vdp-datepicker  .input-group{
  height: 42px;
}
.vdp-datepicker  .form-control{
  height: 42px;
  padding: 0 16px;
  border: none;
  width: 100%;
}
.vdp-datepicker__calendar .cell.selected{
  background-color: #C3002F !important;
  color:white;
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border: 1px solid #C3002F !important;
}
.vdp-datepicker__calendar{
  width: 100% !important;
}
//============
